body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
}

.image-container {
    flex: 1;
    background-image: url('');
    background-size: cover;
    background-position: center;
}

.form-container {
    flex: 1;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
}

.login-form {
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white; /* White background for the login form */
}

.login-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #3273ba; /* Primary button color */
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

.alert {
    color: red;
    text-align: center;
}

nav {
    background-color: #333; /* Dark background for navigation */
    color: white;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.employee-list {
    flex: 2;
    padding: 20px;
    margin-right: 20px;
    border-right: 1px solid #ddd;
    max-height: 500px;

}

.employee-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.employee-card h3 {
    margin: 0 0 5px;
}

.form-container {
    flex: 1;
    padding: 20px;
    background-color: #d3d3d3;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .employee-list {
        margin-right: 0;
        border-right: none;
        border-bottom: 2px solid #ddd;
    }

    .form-container {
        width: 100%;
    }

    .employee-card {
        padding: 15px;
        margin: 5px 0;
    }
}
